*{
  margin: 0;
  padding: 0;
}

main{
  display: flex;
  gap: 20px;
  padding: 20px;
  width: 800px;
  margin: 0 auto;
  background-color: orange;
}

section{
  height: 100px;
  background-color: steelblue;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 80px;
}

#section-1{  
}

#section-2{
  flex-grow: .4;
}

#section-3{
  flex-grow: .6;/*grow vai redividindo o tamanho da tela entre os elementos*/
}

#section-4{
  flex-basis: 200px;/*define o tamanho do item4*/
  
  background-color: #28a2d6;
}

#section-5{
  order: -1;
  
}